<template name="play">
	{{ #if gameReady }}
		<span class="score">{{ currentUser.profile.name }}: {{ playerScore }} {{ otherUser }}: {{ otherPlayerScore }}</span>
		<h3>Let's play!</h3>

		{{ #if roundHasWinner }}
			<h3>{{ roundHasWinner }}</h3>
		{{ /if }}

		{{> choices }}
	{{ else }}
		<h3>Waiting on opponent...</h3>
	{{ /if }}
</template>

<template name="choices">
	<h4>Choose your move</h4>
	<a href="#" class="button choice choice--rock" data-choice="rock">Rock</a>
	<a href="#" class="button choice choice--paper" data-choice="paper">Paper</a>
	<a href="#" class="button choice choice--scissors" data-choice="scissors">Scissors</a>
</template>