<template name="play">
	{{ #if gameReady }}
		<ul class="scores">
			<li class="score">
				<img class='user__photo' src='{{ currentUser.profile.picture }}' />
				{{ currentUser.profile.name }}: {{ currentUser.score }}
			</li>
			<li class="score">
				<img class='user__photo' src='{{ otherUser.profile.picture }}' />
			  {{ otherUser.profile.name }}: {{ otherUser.score }}
			</li>
		</ul>

		{{ #if roundHasWinner }}
			<h3>{{ roundHasWinner }}</h3>
			<a href="#" class="button button--play-again">Play Again?</a>
		{{ else }}
			<h3>Pick your poison:</h3>

			{{ #if waitingOnUserChoice }}
				<h4>Waiting on {{ otherUser.profile.name }} to play...</h4>
			{{ else }}
				{{> choices }}
			{{ /if }}
		{{ /if }}

	{{ else }}
		<h3>Waiting on opponent...</h3>
	{{ /if }}
</template>